body {
  height: 100vh;
  width: 100vw;
  font-family: Inter;
  overflow: hidden;
}

#main {
  background-color: #F3FEF6;
  height: 100%;
  width: 100%;
}

#main svg {
  scale: 0.2;
}
#one{
  height: 130%;
  width: 100%;
}

#two{
  height: 130%;
  width: 100%;

}
#main #left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main #left #h2 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.48);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#main #left #icon {
  height: 100%;
  border-radius: 10px;
  background: #8983F3;
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#main #left #headerWrap {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}

#main #left #headerWrap h1 {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 17px;
}
#nav{
  user-select: none;

}

#main #left #nav {
  padding: 2px;
  top: 2.5%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#main #left h2 {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  scale: 0.7;
}

#main #right {
  position: absolute;
  background-color: #F3FEF6;
  top: 2.5%;
  left: 16%;
  width: 83%;
  height: 95%;
  border-radius: 56px;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

#main .row {
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 80%;
  height: 10%;
}

.row h2 {
  margin-left: -5%;
}

#main i {
  font-size: 1.2rem;
  opacity: 0.7;
}

#gen {
  left: -20%;
  top: 5%;
  position: relative;
  scale: 0.6;
  opacity: 0.5;
}

#right {
  display: grid;
  padding: 20px;
  grid-template-columns: 28% 66%;
  grid-row: 50% 50%;
  grid-gap: 20px;
  box-sizing: border-box;
}

.widget {
  background: #FFF;
  scale: 0.95;
  border-radius: 27px;
  box-shadow: 0px 7px 18.6px 0px rgba(0, 0, 0, 0.06);
}

#tre {
  background: #8983F3;
  background-image: url(../assets/Unbenannt-1.png);
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 100%;
  position: relative;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 #7CF29C;
  font-size: 10em;
  color : #fff;
  font-style: italic;
}

#donutC {
  width: 100%;
  max-height: 100%;
  position: absolute;
  /* Removed height: 100% and scale to avoid affecting box height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#lineC {
  width: 100%;
  max-height: 100%;
  position: absolute;
  /* Removed height: 100% and scale to avoid affecting box height */
  left: 9%;
}

#for {
  display: flex;
  flex-direction: column;
  height: 80%;
  position: relative;
  top: 17%;
}

#upperPart {
  height: 25%;
  width: 100%;
}

#dotAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  width: 90%;
  position: relative;
  left: 5%;
  z-index: 2;
  padding: 1%;
  gap: 20px;
}

#lowerPart {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#dot {
  height: 15%;
  background-color: red;
  width: 1.5%;
  border-radius: 50%;
  scale: 1.5;
}

#dotAndText p {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

#split {
  background-color: #000;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  height: 0.5px;
  left: 2%;
  top: -4%;
  width: 70%;
}/*# sourceMappingURL=index.css.map */
.message{
  height: 15%;
  width: 70%;
  background-color: #8983F3;
  padding: 1px;
  border-radius: 13px;
border: 0.5px solid rgba(0, 0, 0, 0.13);
background: #8983F3;
box-shadow: 0px 9px 16.8px -4px rgba(0, 0, 0, 0.25);
margin-left: 2.5%;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;
}
#lager{
  padding-left: 6px;
}